@using Foosball.DAL
@using Foosball.Models
@using Foosball.Models.FoosballModels
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @{
        /*  var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new FoosballDbContext()));
        var client = userManager.FindById(User.Identity.GetUserId());*/
        FoosballDbContext con = new FoosballDbContext();
        List<Player> list = con.Players.ToList();
        string s = User.Identity.GetUserId();
        Player player = list.First(x => x.ApplicationUserId == s);
                }
                @Html.ActionLink("Hello " +/* User.Identity.GetUserId() */ player.Username + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
